.dropdown-menu {
  width: 230px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #ececec;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #005daa;
  padding: 2px;
  border-left: solid 1px gray;
  border-right: solid 1px gray;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
