.rotary {
  display: flex;
  flex-direction: column;
}

.heading > h1 {
  padding-left: 140px;
  padding-top: 50px;
  padding-bottom: 10px;
  color: #005daa;
}

.content__body {
  display: flex;
  margin-top: 35px;
  max-width: 1200px;
  margin-left: 20px;
  margin-right: 20px;
}
