.mark {
  position: relative;
  bottom: 0;
  display: flex;
  padding-top: 30px;
  padding-bottom: 10px;
  width: 100%;
  z-index: 999;
  background-color: black;
}

.mark > P {
  padding: 10px;
  text-align: center;
  flex: 1;
  color: white;
}
