.sidebar {
  margin-left: 10px;
  flex: 0.8;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
  padding: 10px;
  background-color: #f5f0f0;
}

.sidebar__top > h2 {
  color: green;
  font: 16px;
}
.sidebar__top > h5 {
  color: yellowgreen;
  font: 16px;
}

.sidebar__top > h4 {
  color: red;
  font-size: 16px;
  font: lighter;
}

.sidebar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(187, 179, 179);
  border-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
}

.sidebar__top > img {
  margin-top: -20px;
  width: 100px;
  height: 60px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
}

.sidebar__bottom {
  text-align: left;
  padding: 10px;
  border: 2px solid lightgray;
  background-color: #f5f0f0;
  border-radius: 10px;
  margin-top: 10px;
}

/*Real Look */

.sidebar__bottomTitleMain > p {
  padding-bottom: 1px;
  color: rgb(0, 0, 205);
  font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
  font-size: 10px;
}

.sidebar__bottomTitle {
  color: #005daa;
  font-family: trebuchet ms, helvetica, sans-serif;
  font-size: 10px;
}

.sidebar__bottomLeftRight {
  display: flex;
  padding: 3px;
}

.sidebar__bottomLeft > h3 {
  color: grey;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 13px;
  line-height: 1.42857143;
  position: relative;
  z-index: 1;
}
.sidebar__bottomRight {
  font-size: 12px;
  color: rgb(0, 93, 170);
  font-family: Georgia, serif;
}

.article__body {
  display: flex;
}

.article__image > img {
  max-height: 150px;
  max-width: 150px;
  padding: 5px;
}

.readme__button {
  border-radius: 5px;
}

.readme__button > button {
  color: white;
  background-color: blue;
}
